@font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam.eot');
    src: url('/assets/fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Shabnam.woff2') format('woff2'),
         url('/assets/fonts/Shabnam.woff') format('woff'),
         url('/assets/fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam-Bold.eot');
    src: url('/assets/fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Shabnam-Bold.woff2') format('woff2'),
         url('/assets/fonts/Shabnam-Bold.woff') format('woff'),
         url('/assets/fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam-Thin.eot');
    src: url('/assets/fonts/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Shabnam-Thin.woff2') format('woff2'),
         url('/assets/fonts/Shabnam-Thin.woff') format('woff'),
         url('/assets/fonts/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam-Light.eot');
    src: url('/assets/fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Shabnam-Light.woff2') format('woff2'),
         url('/assets/fonts/Shabnam-Light.woff') format('woff'),
         url('/assets/fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam-Medium.eot');
    src: url('/assets/fonts/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Shabnam-Medium.woff2') format('woff2'),
         url('/assets/fonts/Shabnam-Medium.woff') format('woff'),
         url('/assets/fonts/Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
  }