@import url(./font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: Shabnam;
}

@media (min-width: 460px) {
  .products-container .products-header {
    flex-direction: row !important;
  }
}
.products-container .products-header .pagination-count {
  font-size: 14px;
  margin-top: 5px;
}
@media (min-width: 1200px) {
  .products-container .products-header .pagination-count {
    font-size: 16px;
  }
}
.products-container .products-header .pagination-btns {
  width: 34px;
  height: 34px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.products-container .products-header .pagination-btns:hover {
  background-color: #334155 !important;
  color: #FFF !important;
}
.products-container .products-header .pagination-btns svg {
  width: 20px;
}
.products-container .products-header .dropdown-menu li {
  cursor: pointer;
}
.products-container .product {
  transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .products-container .product:hover {
    transform: scale(1.05);
  }
}
.products-container .product .product-image {
  cursor: pointer;
}
.products-container .product .like-icon {
  top: 15px;
  left: 15px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.products-container .product .like-icon:hover {
  transform: scale(1.1);
}
.products-container .product .product-location {
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  opacity: 1;
}
.products-container .product .product-detail .product-type {
  font-size: 12px;
}
.products-container .product .product-detail .product-ad-time {
  padding: 0px 10px;
  font-size: 12px;
}
.products-container .product .product-detail .product-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.products-container .product .product-detail .product-meterage,
.products-container .product .product-detail .product-rooms {
  font-size: 12px;
}
.products-container .product .product-detail .product-price {
  font-size: 20px;
  font-weight: bold;
}
.products-container .show-more-products {
  padding: 10px 20px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.products-container .show-more-products:hover {
  background-color: #334155 !important;
  color: #FFF !important;
}
.products-container .show-more-products svg {
  width: 22px;
}

.services {
  margin-top: 90px;
}
@media (min-width: 992px) {
  .services {
    margin-top: 150px;
  }
}
.services .group-img {
  left: 10px;
  top: 50%;
}
.services .services-image-container .services-image {
  width: 75%;
}
@media (min-width: 992px) {
  .services .services-image-container .services-image {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .services .services-image-container .services-image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.services .services-image-container .introduction-services-image {
  left: 40px;
  top: 70px;
  width: 50%;
}
.services .services-image-container .introduction-services-image .introduction-services-logo {
  left: 35%;
  top: -30px;
}
.services .services-image-container .introduction-services-image .introduction-services-text {
  font-size: 13px;
}
@media (prefers-color-scheme: dark) {
  .services .services-image-container .introduction-services-image .introduction-services-text {
    background-color: #64748b !important;
    color: #e5e7eb !important;
  }
}
.services .services-detail .services-title {
  font-size: 30px;
  line-height: 54px;
}
.services .services-detail .services-title span {
  padding-bottom: 8px;
}
.services .services-detail .service .service-description {
  font-size: 14px;
}
.services .services-detail .show-all-services-btn {
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
.services .services-detail .show-all-services-btn:hover {
  background-color: #FFF !important;
  color: #0284c7 !important;
}
@media (prefers-color-scheme: dark) {
  .services .services-detail .show-all-services-btn {
    background-color: #075985 !important;
    border-color: #075985 !important;
  }
  .services .services-detail .show-all-services-btn:hover {
    background-color: #334155 !important;
    border-color: #334155 !important;
    color: #FFF !important;
  }
}
.services .services-detail .show-all-services-btn svg {
  width: 22px;
}/*# sourceMappingURL=global.css.map */