@import url(./font.css);
@import "variables";
@import "mixins";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: Shabnam;
}

.dropdown-item {
    
}

.products-container {

    .products-header {

        @include query(460px) {
            flex-direction: row !important;
        }

        .pagination-count {
            font-size: 14px;
            margin-top: 5px;

            @include query(1200px) {
                font-size: 16px;
            }

        }

        .pagination-btns {
            width: 34px;
            height: 34px;
            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $darkColor !important;
                color: #FFF !important;
            }

            svg {
                width: 20px
            }
        }

        .dropdown-menu li {
            cursor: pointer;
        }
    }

    .product {
        transition: all .3s ease-in-out;

        @include query(992px) {

            &:hover {
                transform: scale(1.05);
            }
        }

        .product-image {
            cursor: pointer;
        }

        .like-icon {
            top: 15px;
            left: 15px;
            transition: all .2s ease-in;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        .product-location {
            bottom: 10px;
            right: 10px;
            font-size: 14px;
            opacity: 1;
        }

        .product-detail {

            .product-type {
                font-size: 12px;
            }

            .product-ad-time {
                padding: 0px 10px;
                font-size: 12px;
            }

            .product-title {
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }

            .product-meterage,
            .product-rooms {
                font-size: 12px;
            }

            .product-price {
                font-size: 20px;
                font-weight: bold;
            }
        }

    }

    .show-more-products {
        padding: 10px 20px;
        background: transparent;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $darkColor !important;
            color: #FFF !important;
        }

        svg {
            width: 22px;
        }
    }

}

.services {
    margin-top: 90px;

    @include query(992px) {
        margin-top: 150px;
    }

    .group-img {
        left: 10px;
        top: 50%;
    }

    .services-image-container {


        .services-image {
            width: 75%;

            @include query(992px) {
                width: 95%;
            }

            @include query(1200px) {
                width: fit-content;
            }

        }

        .introduction-services-image {
            left: 40px;
            top: 70px;
            width: 50%;

            .introduction-services-logo {
                left: 35%;
                top: -30px;
            }

            .introduction-services-text {
                font-size: 13px;

                @media (prefers-color-scheme: dark) {
                    background-color: $grayColorbgDark !important;
                    color: $grayColorbg !important;
                }
    
            }
        }

    }

    .services-detail {

        .services-title {
            font-size: 30px;
            line-height: 54px;

            span {
                padding-bottom: 8px;
            }
        }

        .service {


            .service-description {
                font-size: 14px;
            }
        }

        .show-all-services-btn {
            padding: 10px 20px;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: #FFF !important;
                color: $primaryColorbg !important;
            }

            @media (prefers-color-scheme: dark) {
                background-color: $primaryColorbgDark !important;
                border-color: $primaryColorbgDark !important;

                &:hover {
                    background-color: $darkColor !important;
                    border-color: $darkColor !important;
                    color: #FFF !important;
                }
            }

            svg {
                width: 22px;
            }
        }
    }
}